* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sea-blue: #1D5B79;
    --aqua: #468B97;
    --salmon: #EF6262;
    --warmth: #F3AA60;
}

html,
body,
.wrap,
.overlay,
.main {
    height: 100%;
}
.main {
    /* position: fixed; */
    width: 100%;
    background-image: url('images/whiteboard.jpg');
    background-size: 3900px;
    background-position: -90rem 0rem;
    z-index: 1;
}
.overlay{ 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('images/whiteboard.jpg');
    background-size: 2800px;
    background-position: -45rem 0rem;
    width: 100%;
}
.playerContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-self: center;
}
.formContainer{
    background-color: rgb(244, 237, 237);
    height: max(55%, 30rem);
    width: max(32%, 30rem);
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    border-radius: 2rem;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
form {
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:  100%;
}
form > .playerContainer:nth-child(1) {
    margin-top: 1rem;
}
form > .playerContainer:nth-child(2) {
    margin-bottom: 1rem;
}
.playerContainer > input {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    align-self: center;
    font: 1.8rem 'ubuntu';
}
.playerContainer > label {
    font: 700 2rem 'ubuntu';
    margin-bottom: 0.4rem;
    color: var(--sea-blue);
}
.play {
    height: 65%;
    width: 80%;
    align-self: top;
    justify-self: center;
    border-radius: 1.5rem;
    font: 4rem 'caprasimo';
    background-color: var(--sea-blue);
    color: var(--salmon);
    margin-bottom: 2rem;
    border: 3px solid var(--salmon);
}
.play:hover {
    color: var(--sea-blue);
    background-color: var(--salmon);
    border: 3px solid var(--sea-blue)
}
.title{
    font: 5rem 'caprasimo';
    justify-self: center;
    align-self: center;
    color: var(--warmth);
}
.titleContainer{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: var(--sea-blue);
    border-radius: 2rem 2rem 0 0;
}
.gameboardContainer {
    height: 72%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: grey; */
}
.gameboard {
    height: 85%;
    width: 50%;
    display: grid;
    grid-template: repeat(2, 1fr 2rem) 1fr / repeat(2, 1fr 2rem) 1fr;
}
.footer {
    height: 28%;
    background-color: azure;
    display: flex;
}
.userContainer1{
    flex: 1;
    display: grid;
    grid-template: 8rem 1fr / min-content 10rem;
    align-items: center;
}
.userContainer2{
    flex: 1;
    display: grid;
    grid-template: 8rem 1fr / 10rem min-content;
    align-items: center;
    justify-content: right;
}
.restartContainer{
    width:  15rem;
}
.cell {
    background-color: aliceblue;
}
.line {
    background-color: black;
}
.lineTop {
    border-radius: 1rem 1rem 0 0;
}
.lineBottom {
    border-radius: 0 0 1rem 1rem;
}
.line:nth-child(6),
.line:nth-child(16){
    border-radius: 1rem 0 0 1rem;
}
.line:nth-child(10),
.line:nth-child(20) {
    border-radius: 0 1rem 1rem 0;
}
.username {
    width: 60%;
    height: 5rem;
    font: 700 5rem 'ubuntu';
    margin: 2rem;
}
.turnIndicator{
    width: 4rem;
    margin-top: 1rem;
}
.loadingContainer2 {
    justify-self: right;
}
.token1 {
    width: 7rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
}
.token2 {
    width: 7rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}
.tokenContainer2 {
    grid-area: 2/2 / 3/3;
    justify-self: right;
    align-self: top;
}
.restartContainer{
    display: grid;
    justify-content: center;
    align-items: center;
}
.restart{
    width: 20rem;
    height: 8rem;
    background-color: var(--sea-blue);
    color: white;
    font: 700 4rem 'ubuntu';
    cursor: pointer;
    border-radius: 2rem;
    transition: all 100ms;
}
.restart:hover {
    background-color: #216c91;
}
.restart:active {
    translate: 1px 1px;
    box-shadow: none;
    border: 2px solid rgb(131, 131, 131);
}






